* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: #ffffff00;
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    height:100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -2;
    background-color: #918503;
    background-image: radial-gradient(#ffffff33 1px, #000d29 1px);
    background-size: 20px 20px;
    overflow: hidden;
}
span{
    pointer-events:none;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    object-fit: cover;
    background-image: url(https://cdn1.iconfinder.com/data/icons/flat-christmas-icons-1/75/_star-512.png);
    top:50%;
    LEFT:50%;
    transform: translate(-50%,-50%);
    animation: ANIMATE 6s;
}

.center{
    z-index: 50;
    top:50%;
    LEFT:50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    position: absolute;
    animation: dia 12s infinite;
    transition:all;
}

.heading {
    position: absolute;
    top: 28%;
    left: 50%;
   
    z-index: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: cursive;
    line-height: 1.2em;
    font-size: 3em;
    background: linear-gradient(90deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #a18cd1, #fbc2eb, #fad0c4);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    color: transparent;
    animation: typing  3s steps(60, end) 1s 1 normal both, gradientMove 6s linear infinite;
    overflow: hidden;
    display: inline-block; /* Allows multi-line text to wrap */
    max-width: 100%; /* Limits width to container, allowing word wrap */
    font-size:5.3em;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.heading::selection{
    background-color: #00000000;
   
}
small{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    width:20px;
    padding: 7px 10px;
border-radius: 30px;
    color: white;
    text-align:right;
    position: relative;
    top: 95%;
    left: 70%;
    background: linear-gradient(90deg, #fed350, #fd8a6a,#ff4f14);
}

@keyframes dia {
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(-180deg);
    }
    100%{filter: hue-rotate(0deg);}
}
@keyframes ANIMATE {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
        opacity:1;
        filter: hue-rotate(0deg);


    }
    100%{
        transform: translate(-50%,-500%)  rotate(180deg);
        opacity:0;
        filter: hue-rotate(-360deg);

    }
}